@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    max-height: 100vh;
    overflow: hidden;
}

.btn:hover{
    background-color: lightgrey;
    transition: 0.5s;
}

/* side bar */

#action-container{
    position: absolute;
    z-index: 10000;
    background-color: white;
    width:15%;
    transition: all 0.5s ease;
}

#action-container li{
    width:100%;
}

#actin-container i{
    width:100%;
    left:0;
}


#action-list a{
    width:100%;
 }

#action-container.hide {
    width: 5%;
}

#action-container.hide span{
   display: none;
}

#action-container.hide li{
    width:fit-content;
}


#action-container.hide #action-list a{
    width:83%;
}


.action{
    @apply p-2 mb-1 rounded-lg flex items-center hover:bg-slate-300;
}

.noshow{
    display: none;
}
/* end side bar */

/* extra */

#extra{
    transition: 0.5s;
    width:7%;
}

.list{
    transition: 0.5s;
}

.ex{
    width: 60%;
    padding:10px;
    border-radius: 10px;
}

.ex:hover{
    background-color: lightgray;
    transition: 0.5s;
}

.side-panel-hide{
    margin-right: -7%;
}

#btn{
    transition: 0.5s;
}

#extra.side-panel-hide button{
    padding-right: 130%;
    @apply shadow-2xl
}

#extra.side-panel-hide #btn{
    transform: rotate(180deg);
}

/* end extra */

/* mail */
#mail{
    width:80%;
}

.active{
    /* @apply text-blue-700 border-b-2 border-blue-700 bg-white; */
    @apply bg-blue-400 rounded-lg;
}

#message {
    transition: 0.5s;
}

#true-text li{
    padding:5px 10px;
    border-radius: 5rem;
}

#true-text li:hover{
    background-color: gray;
}

.compose{
    width:100% !important;
    height:80vh;
}


/* end mail */

/* large device */
@media only screen and (max-width: 1024px) {
    #action-container.hide {
        width: 6%;
    }

    #action-container{
        width:19%;
        transition: all 0.5s ease;
    }

    #extra {
        width:10%;
    }

    #extra.side-panel-hide button{
        padding-right: 65%;
    }

    #action-container{
        width:17%;
        transition: all 0.5s ease;
    }


  }

/* medium device */
@media only screen and (max-width: 900px) {
    #action-container.hide {
        width: 8%;
    }

    #action-container{
        width:19%;
        transition: all 0.5s ease;
    }

    #extra {
        width:10%;
    }

    #extra.side-panel-hide button{
        padding-right: 65%;
    }

    #mail{
        margin-left:9%;
    }
  }

  @media only screen and (max-width: 500px) {
    #action-container.hide {
        width: 10%;
    }

    #action-container{
        width:32%;
        transition: all 0.5s ease;
    }

    #extra {
        display: none;
    }
    #mail{
        margin-left: 13%;
    }

  }

  @media only screen and (max-width: 350px) {
    #action-container.hide {
        width: 13%;
    }

    #action-container{
        width:41%;
        transition: all 0.5s ease;
    }

    #extra {
        display: none;
    }

    #mes{
        margin-left:23%;
        margin-right:3%;
    }

  }
